body {
  background: linear-gradient(to right, #D9E2FE, white);
  font-family: 'Roboto', 'Ubuntu', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
